Cars.csproj
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/Cars
bin/Debug/netcoreapp3.1/Cars.deps.json
bin/Debug/netcoreapp3.1/Cars.dll
bin/Debug/netcoreapp3.1/Cars.pdb
bin/Debug/netcoreapp3.1/Cars.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Cars.runtimeconfig.json
obj/Cars.csproj.nuget.cache
obj/Cars.csproj.nuget.dgspec.json
obj/Cars.csproj.nuget.g.props
obj/Cars.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Cars
obj/Debug/netcoreapp3.1/Cars.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Cars.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Cars.assets.cache
obj/Debug/netcoreapp3.1/Cars.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Cars.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Cars.dll
obj/Debug/netcoreapp3.1/Cars.pdb
